
   <!--================Footer Area =================-->
   <footer class="footer_area" style="background-color: rgb(54,27,0)">
    <div class="footer_widgets_area">
        <div class="container">
            <div class="f_widgets_inner row">
                <div class="col-12 text-center" style="padding-bottom: 35px;">                            <hr style="border-color: #fff">
                    <div class="row">
                        <div class="col-6">
                            <small class="text-white">Puede requerir cotizacion sin costo.</small>
                        </div>
                        <div class="col-6">
                            <small class="text-white">Envio de productos a todo mexico.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <aside class="f_widget subscribe_widget">
                        <div class="f_w_title text-white">
                            <h3>Nuestra Ubicacion</h3>
                        </div>
                        <p style="color: #fff">Avenida Alvaro Obregon 671, Primera, 21100 Mexicali, B.C.</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-6">
                    <aside class="f_widget categories_widget text-white">
                        <div class="f_w_title">
                            <h3>Categorias</h3>
                        </div>
                        <ul style="color:#fff">
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Productos</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Servicios</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Contacto</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-5 col-md-12">
                    <aside class="f_widget contact_widget text-white">
                        <div class="f_w_title">
                            <h3>Contactanos</h3>
                        </div>
                        <p><strong>Oficina</strong> | 686-552-6465 |atlas_leatherdist@hotmail.com</p>
                        <p><strong>Oficina</strong> | 686-552-6825 |atlas_leatherdist@hotmail.com</p>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->
<script type="text/javascript" src="js/vendors/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/languages/languages.js"></script>
