<!--================Footer Area =================-->
<footer class="container-fluid m-0">
    <div class="footer-info row text-white bg-black">
        <div class="col-12 col-md-2 pr-5 pl-0 pb-3 center-content">
            <img src="/assets/Logo.png" class="footer-img"></img>
        </div>
        <div class="col-12 col-md-3 pb-4 footer-mobil-hide">
            <h1 class="lang" key="footer-categories">Categorías</h1>
            <li><a href="/" class="lang" key="footer-start">Inicio</a></li>
            <li><a href="/about" class="lang" key="nav-about">¿Quienes somos?</a></li>
            <li><a href="/products" class="lang" key="nav-products">Productos</a></li>
            <li><a href="/services" class="lang" key="nav-services">Servicios</a></li>
            <li><a href="/contact" class="lang" key="nav-contact">Contacto</a></li>
        </div>
        <div class="col-12 col-md-5 pb-4">
            <h1 class="lang" key="nav-contact">Contacto</h1>
            <p>Avenida Alvaro Obregon 671, Primera, 21100 Mexicali, B.C.</p>
            <p class="m-0 lang" key="footer-office">Oficina | (686) 552-6465 | atlas_leatherdist@hotmail.com</p>
            <p class="m-0">Fax | (686) 552-6825</p>
            <p class="m-0">01 800 880-6825</p>
        </div>
        <div class="col-12 col-md-2 center-content footer-mobil-hide">
            <h2 class="lang" key="footer-msg1">Cotización sin costo</h2>
            <h2 class="lang" key="footer-msg2">Envíos a todo México</h2>
            <div class="pt-2">
                <a href="#" class="pr-2"> <i class="fab fa-facebook-f"></i></a>
                <a href="#" class="pl-2"> <i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->