<!--================Footer Area =================-->
<footer class="container-fluid m-0">
    <div class="footer-info row text-white bg-black">
        <div class="col-12 col-md-2 pl-0 pb-3 center-content">
            <img src="/assets/logo.png" class="footer-img"></img>
        </div>
        <div class="col-12 col-md-3 pb-4 footer-mobil-hide">
            <h1 class="lang" key="footer-categories">Categorías</h1>
            <li><a href="/" class="lang" key="footer-start">Inicio</a></li>
            <li><a href="/about" class="lang" key="nav-about">¿Quienes somos?</a></li>
            <li><a href="/products" class="lang" key="nav-products">Productos</a></li>
            <li><a href="/services" class="lang" key="nav-services">Servicios</a></li>
            <li><a href="/contact" class="lang" key="nav-contact">Contacto</a></li>
        </div>
        <div class="col-12 col-md-5 pb-4">
            <h1 class="lang" key="nav-contact">Contacto</h1>
            <p class="m-0">Ave. Alvaro Obregon #671</p>
            <p class="m-0">Primera Sección</p>
            <p class="m-0">C.P. 21100</p>
            <p class="m-0">Mexicali, B.C., México</p>
            <!-- <p class="m-0 "><span class="lang" key="footer-office">Oficina</span> | (686) 552-6465 </p>
            <p class="m-0 "><span class="lang" key="footer-office">Oficina</span> | (686) 552-6825 </p> -->
            <p class="m-0 "><i class="fas fa-phone pr-2"></i> 686-552-6465</br></p>
            <p class="m-0 "> <i class="fas fa-phone pr-2"></i> 686-552-6825</br></p>
            <p class="m-0 "> <i class="fas fa-phone pr-2"></i> USA: 01152-686-552-6465</br></p>
            <!-- <p class="m-0 "><span class="lang" key="footer-email">Correo Electrónico</span> | atlas_leatherdist@hotmail.com </p> -->
            <p class="m-0 "> <i class="fas fa-envelope pr-2"></i> atlas_leatherdist@hotmail.com </p>
            <p class="m-0 ">
                <i class="fa fa-calendar" aria-hidden="true"></i> Lunes a Viernes     9:00  am  a  6:30  pm</br>
            </p>
            <p class="m-0 ">
                    <i class="fa fa-calendar" aria-hidden="true"></i>  Sabados                  9:00  am  a  5:00  pm
            </p>

            <%# <p class="m-0">Fax | (686) 552-6825</p> %>
            <%# <p class="m-0">01 800 880-6825</p> %>
            <div id="mobile-info">
                <h2 class="p-0" key="footer-msg2">Pagos con tarjeta</h2>
                <div>
                    <i class="fab fa-2x fa-cc-visa" aria-hidden="true" ></i>
                    <i class="fab fa-2x fa-cc-mastercard" aria-hidden="true"></i>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-2 center-content footer-mobil-hide">
            <h2 class="lang" key="footer-msg1">Cotización sin costo</h2>
            <h2 class="lang" key="footer-msg2">Envíos a todo México</h2>
            <div class="pt-2">
                <a href="#" class="pr-2"> <i class="fab fa-facebook-f"></i></a>
                <a href="#" class="pl-2"> <i class="fab fa-twitter"></i></a>
            </div>
            <h2 class key="footer-msg2">Pagos con tarjeta</h2>
            <div class="pt-2">
                <i class="fab fa-2x fa-cc-visa" aria-hidden="true" ></i>
                <i class="fab fa-2x fa-cc-mastercard" aria-hidden="true"></i>
            </div>

        </div>
    </div>
</footer>
<!--================End Footer Area =================-->