<div class="">
    <img class="banner-img" src="assets/sello.jpg" alt="Card image cap"></img>
    <div class="landing-title">
        <h1>Una empresa de tradición</h1>
    </div>
    <div class="container-fluid">
        <div class="row landing-description">
            <div class="col col-md-4"></div>
            <div class="col-12 col-md-8">
                <p>
                    Peletería Atlas es toda una tradición en Mexicali B. C. somos especialistas en la venta de artículos para reparadores de calzado; suela de baqueta, neolite, tapitas para zapato de dama, tinta ángelus, herramientas, artículos de limpieza, también contamos
                    con la venta de monturas charras y vaqueras.
                </p>
                <p>
                    Peleteria Atlas is a tradition in Mexicali B. C. We are specialists in the sale of articles for shoe care and repairing, sole of stick, neolite, lids for Lady shoes, ink angelus, tools, cleaning products, we have also horse saddle for charros and cowboys.
                </p>
                <a href="/products" class="btn btn-primary" style="background-color:rgb(54,27,0) ;border:none;">Ve nuestro catalogo</a>
            </div>
            <div class="col col-md-4"></div>
        </div>
    </div>
    <!--No-->
    <!-- the swiper zone -->
    <div class="swiper-container mb-5" style="width: 70vw">
        <div class="swiper-wrapper">
            <!-- swiper-slide1 -->
            <div class="swiper-slide plus" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/banners/leather1.jpg);">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <p class="banner-text text-white text-center">
                                Hasta 12 meses sin intereses con paypal o 15% en pago directo!
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-0">
                        <div class="col-8">
                            <p class="subbanner-text text-white text-center">
                                Compra minima de $3500 pesos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end swiper-slide1 -->
            <!-- swiper-slide2 -->
            <div class="swiper-slide plus" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(assets/banners/leather2.jpg); ">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <p class="banner-text text-white text-center">
                                Venta de carteras, bolsas, botas...
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-0">
                        <div class="col-8">
                            <p class="subbanner-text text-white text-center">
                                Hechas con materiales 100% genuinos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end swiper-slide2 -->
        </div>

        <div class="text-white">
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

</div>