<!-- boilerplate inserted with !emmet -->
<nav class="navbar fixed-top navbar-expand-lg p-0" style="background-color: rgb(54,27,0)">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <!-- <a href="/"><img class="navbar-brand p-0" src="assets/Logo.jpg" alt="logo" style="height:80px;"></a> -->
            <ul class="navbar-nav nav-fill w-100" style="font-size:1.5rem">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color: #ffc20e;"> Peleteria Atlas</a>
                </li>
                <li class="nav-item text-white">
                    <i class="fas fa-info-circle text-white"></i>
                    <a class="nav-link lang" key="about" href="/about" style="display: inline-block">¿Quienes somos?</a>
                </li>
                <li class="nav-item text-white">
                    <i class="fas fa-store"></i>
                    <a class="nav-link lang" key="products" href="/products" style="display: inline-block">Productos</a>
                </li>
                <li class="nav-item text-white">
                    <i class="fas fa-archive"></i>
                    <a class="nav-link lang" key="services" href="/services" style="display: inline-block">Servicios</a>
                </li>
                <li class="nav-item text-white">
                    <i class="fas fa-user"></i>
                    <a class="nav-link lang" key="contact" href="/contact" style="display: inline-block">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-globe-americas"></i>
                        <select class="langSelector">
                            <option value="en">English</option>
                            <option value="es" selected>Español</option>
                        </select>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>