<div id="placeholder" class="col-md-6 mb-5" style="display:none;">
    <img class="card-img-top" src="<%=imagen%>" style="height:300px">
    <div class="card-body" style="font-size: 1.25rem;color:white;">
        <h5 class="card-title text-center"><%=descripcion%></h5>
    </div>
</div>
