<main class="container-fluid">
    <div class="row main-top-titles">
        <h1>Productos</h1>
    </div>
    <div class="row">
        <nav class="col-12 col-md-3 col-lg-2 sidebar">
            <div class="sidebar-info">
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle sidebar-menu-title">Home</a>
                        <ul class="list-unstyled sidebar-submenu " id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div class="col-12 col-md-9 col-lg-10">
            <div class="container-fluid">
                <div class="row">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark btn-collapse-top">
                        <i class="fas fa-align-left"></i>
                        <span>Colapsar</span>
                    </button>
                </div>
                <div class="row">
                    <h1 class="col-12 pb-2">Maletines</h1>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-product">
                            <div class="single-product-info">
                                <h1> Maletin 1</h1>
                                <p>Esta es una cosa y yo soy una descripción (: </p>
                                <h3>$50 - $30</h3>
                            </div>
                            <img src="/assets/briefcases/bc1.jpg">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-product">
                            <div class="single-product-info">
                                <h1> Maletin 1</h1>
                                <p>Esta es una cosa y yo soy una descripción (: </p>
                                <h3>$50 - $30</h3>
                            </div>
                            <img src="/assets/briefcases/bc1.jpg">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-product">
                            <div class="single-product-info">
                                <h1> Maletin 1</h1>
                                <p>Esta es una cosa y yo soy una descripción (: </p>
                                <h3>$50 - $30</h3>
                            </div>
                            <img src="/assets/briefcases/bc1.jpg">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-product">
                            <div class="single-product-info">
                                <h1> Maletin 1</h1>
                                <p>Esta es una cosa y yo soy una descripción (: </p>
                                <h3>$50 - $30</h3>
                            </div>
                            <img src="/assets/briefcases/bc1.jpg">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-product">
                            <div class="single-product-info">
                                <h1> Maletin 1</h1>
                                <p>Esta es una cosa y yo soy una descripción (: </p>
                                <h3>$50 - $30</h3>
                            </div>
                            <img src="/assets/briefcases/bc1.jpg">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-product">
                            <div class="single-product-info">
                                <h1> Maletin 1</h1>
                                <p>Esta es una cosa y yo soy una descripción (: </p>
                                <h3>$50 - $30</h3>
                            </div>
                            <img src="/assets/briefcases/bc1.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>