<main class="container-fluid justify-content-center bg-lightBrown">
    <div id="sello-image" class="row main-top-titles">
        <h1 key="services">Servicios</h1>
    </div>

    <div class="card-deck justify-content-center">
        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="womenShoe">Calzado para Dama</h5>
            </div>
            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
            <img class="card-img-top" src="/assets/services/calzadodama.png" style="height:300px">

        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="menShoe">Calzado para Hombre</h5>
            </div>
            <img class="card-img-top" src="assets/services/calzadohombres.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
            <!-- wrap every 2 on sm-->
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="menBoot">Botas vaqueras</h5>
            </div>
            <img class="card-img-top" src="assets/services/botavaquera.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="w-100 d-none d-sm-none d-md-none d-lg-block">
            <!-- wrap every 3 on md-->
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="womenBoot">Botas para dama</h5>
            </div>
            <img class="card-img-top" src="assets/services/botadama.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
            <!-- wrap every 2 on sm-->
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="ortShoe">Calzado Ortopedico</h5>
            </div>
            <img class="card-img-top" src="assets/services/zapatoortopedico.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="leatJacket">Chamarras de piel</h5>
            </div>
            <img class="card-img-top" src="assets/services/chamarra.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
            <!-- wrap every 2 on sm-->
        </div>

        <div class="w-100 d-none d-sm-none d-md-none d-lg-block">
            <!-- wrap every 3 on md-->
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="hat">Sombreros</h5>
            </div>
            <img class="card-img-top" src="assets/services/sombreros.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>


        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="luggage">Maletas de Viaje</h5>
            </div>
            <img class="card-img-top" src="assets/services/maletadeviaje.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
            <!-- wrap every 2 on sm-->
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key='leatSC'>Portafolios de Piel</h5>
            </div>
            <img class="card-img-top" src="assets/services/portafoliodepiel.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="w-100 d-none d-sm-none d-md-none d-lg-block">
            <!-- wrap every 3 on md-->
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="womenBag">Bolsos para Dama</h5>
            </div>
            <img class="card-img-top" src="assets/services/bolsodama.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
            <!-- wrap every 2 on sm-->
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="leatFurn">Muebles de piel</h5>
            </div>
            <img class="card-img-top" src="assets/services/muebledepiel.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="autoUphols">Tapiceria automotriz</h5>
            </div>
            <img class="card-img-top" src="assets/services/tapiceriaautomotriz.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
            <!-- wrap every 2 on sm-->
        </div>

        <div class="w-100 d-none d-sm-none d-md-none d-lg-block">
            <!-- wrap every 3 on md-->
        </div>

        <div class="card service-card mb-5">
            <div class="card-body">
                <h5 class="card-title text-center lang" key="leatStWh">Volantes de Piel</h5>
            </div>
            <img class="card-img-top" src="assets/services/volantedepiel.png" style="height:300px">

            <div class="over">
                <ul class="list-unstyled" style="column-count: 2; width: 100%">
                    <li>servicio1</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                    <li>serviciomassuperlargo</li>
                    <li>servicio2</li>
                    <li>servicio2</li>
                </ul>
            </div>
        </div>

    </div>
</main>