<% include ./partials/header %>
<div class="row justify-content-center mb-5">
    <div class="card" style="width: 70vw; border:none">
        <img class="card-img-top" src="assets/sello.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Peletería Atlas es toda una tradición en Mexicali B. C. somos especialistas en la venta de artículos para reparadores de calzado; suela de baqueta, neolite, tapitas para zapato de dama, tinta ángelus, herramientas, artículos de limpieza, también contamos con la venta de monturas charras y vaqueras.</p>
            <p>   Peleteria Atlas is a tradition in Mexicali B. C. We are specialists in the sale of articles for shoe care and repairing, sole of stick, neolite, lids for Lady shoes, ink angelus, tools, cleaning products, we have also horse saddle for charros  and cowboys.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!-- the swiper zone -->
<div class="swiper-container mb-5"style="width: 70vw">
    <div class="swiper-wrapper">
        <!-- swiper-slide2 -->
        <div class="swiper-slide plus" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/banners/leather1.jpg); /*filter: brightness(50%);background: rgba(0,0,0,0.7);opacity: 0;*/ ">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <p class="banner-text text-white text-center" style=" color: #FFF;">
                            HASTA 12 MESES SIN INTERESES CON PAYPAL O 15% EN PAGO DIRECTO
                        </p>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-0">
                    <div class="col-12">
                        <p class="subbanner-text text-white text-center" >
                            COMPRA MINIMA DE $3500 PESOS
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- end swiper-slide2 -->
        <!-- swiper-slide2 -->
        <div class="swiper-slide plus" style="background-image: url(assets/banners/leather2.jpg); ">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <p class="banner-text2 text-white">
                            SONA CRUISE BY LELO
                        </p>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-0">
                    <div class="col-12">
                        <p class="subbanner-text text-white">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                        </p>
                    </div>
                </div>
            </div>
        </div><!-- end swiper-slide2 -->
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>
<!--aqui termina el tercer swiper de publicidad-->
</div>


<!-- bootsraps   -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- swiper/caroussel -->
<script src="../public/js/vendors/swiper.min.js"></script>
<script src="../public/js/vendors/css3-animate-it.js"></script>
<script src="../public/js/main.js"></script>
<!-- http://www.peleteriaatlas.com/INICIO -->
<!-- http://www.wildtextures.com/free-textures/leather-texture-campo-series-walnut/ -->
<!-- https://unsplash.com/search/photos/leather -->
<!-- https://jsfiddle.net/9t20dmLk/1/ -->
<!-- https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c -->
<!-- https://www.codeply.com/go/kTGlK9Axdk -->
<!-- https://www.codeply.com/go/cxXqBnGrPx -->
<!-- http://idangero.us/swiper/get-started/ -->
</body>
</html>
<% include ./partials/footer %>
