<%- include("./partials/header",{my_title : "productos"}) %>
<!-- interesting codepens  -->
<!-- https://codepen.io/tejasukmana/pen/WrRNOe -->
<!-- https://codepen.io/wideckop/pen/ZOgOPq -->
<!-- https://codepen.io/ellissei/pen/xwOpGW -->
<!-- https://codepen.io/migli/pen/dJZQxZ -->
<style>
/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   font-size: 1em;
   color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
} 

/* Layout */
.s-layout {
   display: flex;
   width: 100%;
   min-height: 100vh;
}

.s-layout__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
   /* background: #192b3c; */
   background:rgb(54,27,0);
   border-style: solid;
    border-color: red;
    border-width: 1px;
}

.s-sidebar__trigger > i {
   display: inline-block;
   margin: 1.5em 0 0 1.5em;
   color: #f5ebef;
}

.s-sidebar__nav {
   position: fixed;
   top: 0;
   left: -15em;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
   background: rgb(54,27,0);
   color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   position: absolute;
   top: 4em;
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 4em;
}

.s-sidebar__nav-link em {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
   background: #4d6276;
}

.s-sidebar__nav-link > i {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.s-sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      /* margin-left: 4em; */
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      width: 4em;
   }
   
   .s-sidebar__nav {
      width: 4em;
      left: 0;
   }
   
   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
   }
}

@media (min-width: 68em) {
   .s-layout__content {
      margin-left: 8em;
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      display: none
   }
   
   .s-sidebar__nav {
      width: 15em;
   }
   
   .s-sidebar__nav ul {
      top: 1.3em;
   }
}
</style>
<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger" href="#0">
         <i class="fa fa-bars"></i>
      </a>
    
      <nav class="s-sidebar__nav">
         <ul>
            <li>
               <a class="s-sidebar__nav-link" data-toggle="collapse" href="#collapseExample" role="button">
                <i class="fa fa-shoe-prints"></i><em>Suelas</em>
               </a>
               <ul class="collapse" id="collapseExample">
                    <li>
                        <a class="s-sidebar__nav-link" >
                            <i class="fa fa-shoe-prints"></i><em>Suelas</em>
                        </a>
                    </li>
               </ul>
            </li>
            <li>
               <a class="s-sidebar__nav-link"  onclick="categoria(this)">
                 <i class="fa fa-briefcase"></i><em>Portafolios</em>
               </a>
            </li>
            <li>
               <a class="s-sidebar__nav-link"  onclick="categoria(this)">
                  <i class="fa fa-wallet"></i><em>Carteras</em>
               </a>
            </li>
         </ul>
      </nav>
    </div>
        <!-- /main sidebar -->
        <div class="content-wrapper">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <h2>Hello World</h2>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end content-wrapper -->
        
    <!-- Content -->
    <main class="s-layout__content">
     
        <div class="container justify-content-center">
            <div class="card-deck justify-content-center my-5">
                <div class="card service-card mb-5">
                    <img class="card-img-top" src="assets/briefcases/bc1.jpg" style="height:300px">
                    <div class="card-body">
                        <h5 class="card-title text-center">Portafolio AW</h5>
                        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p> -->
                    </div>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
                    <!-- wrap every 1 on sm-->
                </div>

                <div class="card service-card mb-5">
                    <img class="card-img-top" src="assets/briefcases/bc2.jpg" style="height:300px">
                    <div class="card-body">
                        <h5 class="card-title text-center">Portafolio para laptop</h5>
                    </div>
                </div>

                <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
                    <!-- wrap every 1 on sm-->
                </div>
              
                <div class="w-100 d-none d-sm-none d-md-none d-lg-block">
                    <!-- wrap every 2 on md-->
                </div>

                <div class="card service-card mb-5">
                    <img class="card-img-top" src="assets/briefcases/bc3.jpg" style="height:300px">
                    <div class="card-body">
                        <h5 class="card-title text-center">Portafolio estilo maleta</h5>
                    </div>
                </div>
        
               <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
                    <!-- wrap every 1 on sm-->
                </div>
        
        
                <div class="card service-card mb-5" >
                    <img class="card-img-top" src="assets/briefcases/bc4.jpg" style="height:300px">
                    <div class="card-body">
                        <h5 class="card-title text-center text-white">Portafolio estilo mochila</h5>
                    </div>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-none">
                    <!-- wrap every 1 on sm-->
                </div>
             
                <div class="w-100 d-none d-sm-none d-md-none d-lg-block">
                    <!-- wrap every 2 on md-->
                </div>
        
                <div class="card service-card mb-5">
                    <img class="card-img-top" src="assets/briefcases/bc4.jpg" style="height:300px">
                    <div class="card-body">
                        <h5 class="card-title text-center">Limpieza y reparacion de portafolios</h5>
                    </div>
                </div>
    
        </div>
    </div>
    
    <style>
        #sello-image {
            background-image: url("assets/services/services.jpg");
            background-attachment: fixed;
            background-position: center bottom;
            min-height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            text-align: center;
        }
    
        div.transbox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.5);
        }
    
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            div.transbox h1 {
                font-size: 450%
            }
        }
    
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            div.transbox h1 {
                font-size: 475%
            }
        }
    
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            div.transbox h1 {
                font-size: 500%
            }
        }
    
        div.transbox h1 {
            font-weight: bold;
            color: #000000;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    
        .service-card {
            max-width: 500px;
        }
    </style>
    </main>
</div>

<!--================End Contact Us Area =================-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/vendors/jquery-3.2.1.min.js"></script>
<script src="js/vendors/popper.min.js"></script>
<script src="js/vendors/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
         /* code here */
        
    });

 function categoria(element){
        console.log("this is a click")
        console.log(element.children[1].innerText)
        var imagenes=document.querySelectorAll(".card-img-top")
        var textos=document.querySelectorAll(".card-title")
        if(element.children[1].innerText=="Portafolios"){
            console.log("caso portafolio")
            console.log(imagenes)
            imagenes[0].src="assets/briefcases/bc1.jpg"
            textos[0].innerText="Portafolio AW"
            imagenes[1].src="assets/briefcases/bc2.jpg"
            textos[1].innerText="Portafolio para laptop"
            imagenes[2].src="assets/briefcases/bc3.jpg"
            textos[2].innerText="Portafolio estilo maleta"
            imagenes[3].src="assets/briefcases/bc4.jpg"
            textos[3].innerText="Portafolio estilo mochila"
            imagenes[4].src="assets/briefcases/bc1.jpg"
            textos[4].innerText="Limpieza y reparacion de portafolios"
        }
        else if(element.children[1].innerText=="Carteras"){
            console.log("caso carteras")
            console.log(imagenes)
            console.log(imagenes[0])
            imagenes[0].src="assets/wallets/w1.jpg"
            textos[0].innerText="Cartera para mujer"
            imagenes[1].src="assets/wallets/w2.jpg"
            textos[1].innerText="Cartera para tarjetas"
            imagenes[2].src="assets/wallets/w3.jpg"
            textos[2].innerText="Cartera para tarjetas de mujer"
            imagenes[3].src="assets/wallets/w4.jpg"
            textos[3].innerText="Cartera para hombre"
            imagenes[4].src="assets/wallets/w4.jpg"
            textos[4].innerText="Limpieza y reparacion de carteras"

        }
    }
</script>
<% include ./partials/footer %>
