

main {
    margin-top: 56px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
}

.main-content{
    margin-top: 56px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-family: 'Tangerine', cursive;
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.bg-lightBrown {
    background: #f0efec;
}

.bg-darkBrown {
    background: #412f26;
}

.bg-black {
    background: black;
}

.text-white {
    color: white;
}

.btn.btn-dark{
    font-size: 1.2rem;
    display:block;
    margin:auto;
}

.main-top-titles{
    background: #412f26;
    color:white;
    text-align: center;
    padding:1.2rem 0;
    display: flex;
    justify-content: center;
}
/*************Navbar****************/
.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background: black;
    font-family: 'Hind', sans-serif;
}

.navbar a:hover,
.footer-info a:hover,
.navbar-dark .navbar-brand:hover {
    color: #b28735;
    text-decoration: none;
}

.navbar .navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.languaje_control{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    color: rgba(255,255,255,.5);
}
.navbar_languaje-picker {
    flex-wrap: wrap;
    display: block;
    margin: auto;
    padding: 0 0.5rem 0 0.2rem;
    background: black;
    color:rgba(255,255,255,.5);
    border: 0;
}


/*************Navbar****************/

.banner-img {
    background: black;
    width: 100%;
    min-height: auto;
}

.banner-img-mobil {
    display: block;
}

.banner-img-pc {
    display: none;
}

.landing_content {
    width: 100%;
}

.landing-title {
    /*background: #f0efec;*/
    background: #1e0a01;
    color: white;
    width: 100%;
    padding-top: 0.5rem;
    text-align: center;
}

.landing-title h2 {
    font-size: 3.5rem;
    font-weight: 300;
    padding: 0rem 2rem 1rem 2rem;
}

.landing-description {
    font-family: 'Hind', sans-serif;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0rem 2rem 2rem 2rem;
    font-weight: 300;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.carousel_landing{
    padding: 1rem 1rem 2rem 1rem;
}

/********** swippers ***************/

.card {
    border-color: rgb(54, 27, 0);
    color: #fff;
}

.card-body {
    background-color: rgb(54, 27, 0);
}

.card-section__title {
    color: #ffc20e;
}

.card-section__title:hover {
    color: #ffc20e;
}

.card-section__body {
    text-align: justify;
    margin-bottom: 0;
}


.banner-text {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
}

.subbanner-text {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Hind', sans-serif;
    border-top: 5px dotted white;
    display: block
}


/*************Footer****************/
.footer-logo {
    background: #f0efec;
    height: 15vh;
    background-image: url("/assets/footer-img.jpg");
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: cover;
}

.footer-info {
    padding: 3rem 3rem 1.5rem 3rem;
    min-height: 20vh;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

.footer-info a {
    color: #b28735;
    text-decoration: none;
    color: white;
}

.footer-info li {
    list-style-type: none
}

.footer-info h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.footer-img {
    height: 7rem;
    width: auto;
}

.footer-info h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 0.5rem;
}

.footer-mobil-hide{
    display:none;
}
/*************Footer****************/

/* Primary Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

em {
    font-style: normal;
}


/* Layout */

.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

@media screen and (min-width: 768px) {
    .banner-img-mobil {
        display: none;
    }
    .banner-img-pc{
        display:block;
    }
    .footer-mobil-hide{
        display:block;
    }
}