
@media screen and (min-width: 768px) {
    main{
        margin-top:70px;
    }
}

main {
    margin-top: 56px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-family: 'Tangerine', cursive;
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 700;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.bg-lightBrown {
    background: #f0efec;
}

.bg-darkBrown {
    background: #412f26;
}

.bg-black {
    background: black;
}

.text-white {
    color: white;
}

/*************Navbar****************/
.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background: black;
    font-family: 'Hind', sans-serif;
}

.navbar a:hover,
.footer-info a:hover,
.navbar-dark .navbar-brand:hover {
    color: #b28735;
    text-decoration: none;
}

.navbar .navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
/*************Navbar****************/

.banner-img {
    background: black;
    width: 100%;
    min-height: auto;
}

.landing_content {
    width: 100%;
}

.landing-title {
    /*background: #f0efec;*/
    background: #1e0a01;
    color:white;
    width: 100%;
    padding: 0rem;
    text-align: center;
}

.landing-title h2{
    font-size: 3.5rem;
    font-weight: 300;
    padding:0rem 2rem 1rem 2rem;
}

.landing-description {
    font-family: 'Hind', sans-serif;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0rem 2rem 2rem 2rem;
    font-weight: 300;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

/********** swippers ***************/

.card {
    border-color: rgb(54, 27, 0);
    color: #fff;
}

.card-body {
    background-color: rgb(54, 27, 0);
}

.card-section__title {
    color: #ffc20e;
}

.card-section__title:hover {
    color: #ffc20e;
}

.card-section__body {
    text-align: justify;
    margin-bottom: 0;
}

.plus {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.swiper-container {
    cursor: pointer;
    width: 100%;
    height: 475px;
}

.plus:hover {
    opacity: 0.6;
}

.parent img {
    height: 100%;
    width: 100%;
}

.banner-text {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
}

.subbanner-text {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Hind', sans-serif;
    border-top: 5px dotted white;
    display: block
}

/*************Footer****************/
.footer-logo {
    background: #f0efec;
    height: 15vh;
    background-image: url("/assets/footer-img.jpg");
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: cover;
}

.footer-info {
    padding: 2rem 3rem 1.5rem 3rem;
    min-height: 20vh;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

.footer-info a {
    color: #b28735;
    text-decoration: none;
    color: white;
}

.footer-info li {
    list-style-type: none
}

.footer-info h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.footer-img {
    height: 7rem;
    width: auto;
}

.footer-info h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 0.5rem;
}
/*************Footer****************/

/* Primary Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

em {
    font-style: normal;
}


/* Layout */

.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}