body{
    font-family: 'Roboto', sans-serif;
}
.plus{
    background-repeat:no-repeat;
    background-position: center center;  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-decoration:none !important;

    
}
/* .plus:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
            transition: opacity .3s ease-in-out;
            -moz-transition: opacity .3s ease-in-out;
            -webkit-transition: -webkit-filter .6s ease-in-out;
            background-image:url('http://i.imgur.com/NNKxZ5R.jpg');
             filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(50%) brightness(50%); /* Google Chrome, Safari 6+ & Opera 15+ */ 
        /* z-index: -1; */
} */
.swiper-container {
    cursor: pointer; 
    width: 100%;
    height: 475px;
    
    }
.plus:hover{
    opacity:0.6;
}
/* This will style any <img> element in .parent div */
.parent img {
    height: 100%;
    width: 100%;
}
.banner-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
    /*line-height: 80px;*/
}
.subbanner-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75rem;
    line-height: 40px;
}