.service-card {
    max-width: 500px;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
}

.card {
    border: none;
    color: #fff;
}
.modal-Image{
    width:50%;
    height:300px;
}
.modal-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.over {
    background: rgb(0,0,0,0.7);
    width: 100%;
    height: calc(100% - 68.8px);
    position: absolute;
    /* display: flex; */
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px; padding-left: 15px;
    font-size: 1.5rem;
    opacity: 0;
    top:0;
    transform: translateY(0);
    transition: all 0.3s linear;
}

.over:hover{
    opacity: 1;
    transform: translateY(68.8px);
}

.card-section__title {
    color: #ffc20e;
}

.card-section__title:hover {
    color: #ffc20e;
}

.card-section__body {
    text-align: justify;
    margin-bottom: 0;
}

.card-deck{
    padding: 3rem 1rem;
}

@media screen and (min-width: 768px) {
    .card-deck{
        padding: 3rem;
    }
}