#sello-image {
    background-image: url("/assets/services/services.jpg");
    background-attachment: fixed;
    background-position: center bottom;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

div.transbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div.transbox h1 {
        font-size: 450%
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div.transbox h1 {
        font-size: 475%
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div.transbox h1 {
        font-size: 500%
    }
}

div.transbox h1 {
    font-weight: bold;
    color: #000000;
    margin-top: 2%;
    margin-bottom: 2%;
}

.service-card {
    max-width: 500px;
}